body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.friendsCont {
  display: flex;
  flex-wrap: wrap;
}

.friendsCont div {
  border: 1px solid black;
  margin: 2%;
  padding: 1%;
  width: 200px;
  height: 200px;
}

a {
  margin: 1%;
  text-decoration: none;
  font-size: 20px;
}

.newFriendDiv {
  border: 1px solid black;
  margin: 2%;
  padding: 1%;
  width: 200px;
  height: 200px;
  position: absolute;
}
